@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

.new-post{
    margin:0 auto;
    
}

.posts{
    margin-left:0vw;
    
}

.post-box{
    display:flex;
    flex-direction: row;
    height:18vh;
    width:65vw;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
    border: 1px transparent;
    background-image:linear-gradient(to bottom, rgba(126, 49, 109, 0.6)0%, rgb(146,59,127,.7)100%), url(https://s3.us-east-2.amazonaws.com/umg-uploads/v3/layout/image25.jpg);
    border-radius:10px;
    margin-bottom:40px;
    box-shadow: 10px 10px 13px -4px rgba(0,0,0,0.75);
    font-family: 'Press Start 2P', cursive;
    
}

.top-stuff{
    display: flex;
    flex-direction: row;
    
}

.postTitle{
    display:flex;
    flex-direction: row;
    font-size:13px;
    color:white;
}

.postContent{
    display:flex;
    flex-direction: row;
    font-size:13px;
    color:white;
}

.post-input{
    width:60%;
    height:3vh;
    border: 1px solid;
    border-radius: 3px;
    outline: none;
    padding-left:5px;
    margin: 2% auto;
}
.post-btn{
    width: 7%;
    height: 19%;
    background:white;
    color:#572f80;
    border-radius: 5px;
    border:none;
    outline:none;

}

.content{
    background: white;
    width: 80%;
    height: 70%;
    font-size: 18px;
    border-radius:5px;
    color:black;
}

.post-link{
    text-decoration: none;
}