@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.dash-head{
    height:10vh;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;

}

.dash-title{
    font-family: 'Open Sans', sans-serif;
    font-size:40px;
    color:#272932;
}

.paddle{
    height:11vh;
    width:8vw;
}


.thread-box{
    height:28vh;
    width:65vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border: 1px transparent;
    background:#ED696A;
    border-radius:10px;
    margin-bottom:40px;
    box-shadow: 10px 10px 13px -4px rgba(0,0,0,0.75);
}

.game-title{
    padding:8px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size:30px;
}

.thread-pic{
    width: 60vw;
    height:20vh;
    border-radius:10px;
    box-shadow: 10px 10px 13px -4px rgba(0,0,0,0.75);

}
.dash-body{
    height:120vh;
    background-image: url(https://s3.us-east-2.amazonaws.com/umg-uploads/v3/layout/image26.jpg);
}

@media(max-width: 1024px){
    .game-title{
        
        color: white;
        font-family: 'Press Start 2P', cursive;
        margin: 0 auto;
        font-size:35px;
    }

}

@media(max-width: 950px){

}