@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.nav-bar{
    height:100vh;
    width: 16vw;
    background-image:linear-gradient(to bottom, rgba(126, 49, 109, 0.6)0%, rgb(146,59,127,.7)100%), url(https://s3.us-east-2.amazonaws.com/umg-uploads/v3/layout/image25.jpg);
    background-size:cover;
    background-position:center center;
    position:fixed;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    box-shadow: 10px 0px 13px 0px rgba(0,0,0,0.75);
    transition: .6s;
}
.no-slide{
    display:none;
}

.profile-pic{
    height:13%;
    width:42%;
    border-radius:50%;
    background:white;
    margin: 10px auto;
}

.pic{
    height:100%;
    width:100%;
    border-radius:50%;
    margin: 0px auto;
}

.bottom-section{
    margin: 40px auto
}

.user{
    margin: 0 auto;
    margin-bottom:40px;
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
    color:white;
}
.middle-block{
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    align-items:center;
}
.new{
    margin-bottom: 115px;
    font-family: 'Open Sans', sans-serif;
    background:transparent;
    border:none;
    cursor:pointer;
    color:#9aadbf;
    font-size:20px;
}
.new:hover{
    color:#44ffd2;
    font-size:21px;
}
.home{
    margin-bottom:115px;
    font-family: 'Open Sans', sans-serif;
    background:transparent;
    border:none;
    cursor:pointer;
    color:#9aadbf;
    font-size:20px;
}
.home:hover{
    color:#44ffd2;
    font-size:21px;
}
.setting{
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
    background:transparent;
    border:none;
    cursor:pointer;
    color:#9aadbf;
    font-size:20px;
}
.setting:hover{
    color:#44ffd2;
    font-size:21px;
}

.block{
    font-family: 'Open Sans', sans-serif;
    background:transparent;
    border:none;
    cursor:pointer;
    color:#9aadbf;
    font-size:20px;
}
.block:hover{
    color:#44ffd2;
    font-size:21px;
}

.slide-out{
    left: 0px;
}

@media(max-width:1024px){
    .profile-pic{
        height:8%;
        width:75%;
        border-radius:50%;
        background:white;
        margin: 10px auto;
    }
    .nav-bar{
        height:100vh;
        width: 13vw;
        background:#6a5880;
        position:fixed;
        display:flex;
        flex-direction:column;
        justify-content: space-between;
        box-shadow: 10px 0px 13px 0px rgba(0,0,0,0.75);
    }
    .new{
        margin-bottom: 115px;
        font-family: 'Press Start 2P', cursive;
        background:transparent;
        border:none;
        cursor:pointer;
        color:white;
        font-size:15px;
    }
    .home{
        margin-bottom:115px;
        font-family: 'Press Start 2P', cursive;
        background:transparent;
        border:none;
        cursor:pointer;
        color:white;
        font-size:15px;
    }
    .setting{
        margin-bottom: 200px;
        font-family: 'Press Start 2P', cursive;
        background:transparent;
        border:none;
        cursor:pointer;
        color:white;
        font-size:15px;
    }
}