.set-body{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://s3.us-east-2.amazonaws.com/umg-uploads/v3/layout/image26.jpg);
}

.settings-box{
    width:60vw;
    height:70vh;
    margin:0 auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(to bottom, rgba(126, 49, 109, 0.6)0%, rgb(146,59,127,.7)100%), url(https://s3.us-east-2.amazonaws.com/umg-uploads/v3/layout/image25.jpg);
    border-radius: 5px;
    box-shadow: 10px 10px 13px -4px rgba(0,0,0,0.75);
    
}
.set-btn{
    width: 17%;
    height: 5%;
    background:white;
    color:#572f80;
    border-radius: 5px;
    border:none;
    outline:none;
    margin-left: 5px;

}